#!/usr/bin/make -f
export CFLAGS := $(shell dpkg-buildflags --get CFLAGS)
export CXXFLAGS := $(shell dpkg-buildflags --get CXXFLAGS)
export LDFLAGS := $(shell dpkg-buildflags --get LDFLAGS)
export DEB_DH_MAKESHLIBS_ARG=--ignore-missing-info
export DESTDIR=debian/liburjtag

%:
	./autogen.sh --prefix=/usr
	dh $@
